body {
	font: 12pt "Cantarell";
	background: White;
	color: Black;
	margin: 0.5in;
}

header {
	text-align: center;
	margin: 0 0 1em 0;
}

header > div {
	margin: 1em 0 0 0;
	display: inline-flex;
	justify-content: space-evenly;
	width: 100%;
}

section {
	margin: 0;
}

article {
	margin: 0 0 0.5em 1em;
}

h1 {
	margin: 0;
}

h2 {
	margin: 0;
}

h3 {
	margin: 0;
	display: inline-flex;
	justify-content: space-between;
	width: 100%;
}

ul {
	margin: 0;
	padding-left: 2em;
}

li {
	margin: 0 0 0.25em 0;
	text-align: justify;
}

a {
    all: unset;
}
